deepface
docx2txt
Flask
Jinja2
librosa
moviepy
nltk
numpy
openai
opencv_contrib_python
opencv_python_headless
pandas
Pillow
protobuf
PyPDF2
pytesseract
python_docx
reportlab
scikit_learn
sentence_transformers
soundfile
spacy
SpeechRecognition
textblob
torch
transformers
Werkzeug
